<br>
<div class="row">
    <div class="col">
      <input class="form-control" matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar..." >
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-success btn-block" 
      data-toggle="modal" data-target="#ventanaModal2">Nueva Licencia <i class="fas fa-plus"></i></button>
    </div>
  </div>
    
  <br>
  
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      
      
      <ng-container matColumnDef="dnipers">
        <th mat-header-cell *matHeaderCellDef> DNI </th>
        <td mat-cell *matCellDef="let element"> {{element.dnipers}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="tipoLice">
        <th mat-header-cell *matHeaderCellDef> Tipo Licencia </th>
        <td mat-cell *matCellDef="let element"> {{element.tipoLice}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="motiLice">
        <th mat-header-cell *matHeaderCellDef> Motivo </th>
        <td mat-cell *matCellDef="let element"> {{element.motiLice}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="fechInicLice">
        <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.fechIniLice | date }} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="fechFinLice">
        <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
        <td mat-cell *matCellDef="let element"> {{element.fechFinLice | date }} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="obseLice">
        <th mat-header-cell *matHeaderCellDef> Observacion </th>
        <td mat-cell *matCellDef="let element"> {{element.obseLice}} </td>
      </ng-container>
  
      <ng-container matColumnDef="docuLice">
        <th mat-header-cell *matHeaderCellDef> documento </th>
        <td mat-cell *matCellDef="let element"> <button type="button" class="btn btn-outline-primary"> 
          <i class="fas fa-file-pdf"></i></button>
        </td>
      </ng-container>
  
      
      <ng-container matColumnDef="ACTION">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element">
          <button type="button" class="btn btn-outline-warning" 
          data-toggle="modal" data-target="#ventanaModal2"> <i class="fas fa-edit"></i></button> 
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
   <!-- START Modal -->
<main class="container">
  <div class="modal" id="ventanaModal2" tabindex="-1" role="dialog" aria-labelledby="tituloVentana" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document"><!--modal-lg ancho del modal--> 
     <div class="modal-content">
      <div class="modal-header">
         <h2 id=tituloVentana>Licencia</h2>
         <button class="close" data-dismiss="modal" aria-label="Cerrar">
           <span aria-hidden="true">&times;</span>
         </button>
        
      </div>
      <!--START MODAL BODY-->
      <div class="modal-body">
           <div class="alert alert-success">
                 <main class="container">
                   <form>
                      <div class="form-group">
                            <input type="number" class="form-control" placeholder="Id persona">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tipo Licencia">
                      </div>
                      <div class="form-group">
                            <input type="text" class="form-control" placeholder="Motivo">
                      </div>
                      <div class="form-group" >
                        <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
                      </div>
                      <div class="form-group" >
                        <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Observacion">
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                          </div>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                              aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                          </div>
                        </div>
                      </div>             
                   </form>
                </main>
           </div>
        </div>
        <!--FINAL MODAL BODY-->
 
        <div class="modal-footer">
          <button class="btn btn-outline-secondary" type="button" data-dismiss="modal"> Cerrar </button>
          <button class="btn btn-outline-success" type="button"> Guardar </button>
        </div>
      </div>
    </div>
  </div>
</main>
 <!--FINAL DEL MODAL-->