

  <nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link
       [routerLink]="['/tramite/licencia']"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      Licencia
    </a>
    <a mat-tab-link
       [routerLink]="['/tramite/justificacion']"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      Justificacion
    </a>
    <a mat-tab-link
       [routerLink]="['/tramite/permiso']"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      Permiso
    </a>
    <a mat-tab-link
       [routerLink]="['/tramite/vacaciones']"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      Vacaciones
    </a>
  </nav>

<router-outlet></router-outlet>
